@page "/posts/{url}"
@inject fInancialFinesseProject.Client.Services.IBlogService BlogService
@using Microsoft.AspNetCore.Components;

<h3>@CurrentPost.Title</h3>

<div>
    @CurrentPost.Content
</div>

@code {
    private fInancialFinesseProject.Shared.Domain.BlogPost CurrentPost;

    [Parameter]
    public string Url { get; set; }

    protected override void OnInitialized()
    {
        CurrentPost = BlogService.GetBlogPostByUrl(Url);
    }
}
